body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: black;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(224, 224, 224);
  text-align: center;
  margin: 0 auto;
}
.content-area {
  width: 100%;
  position: relative;
}
.content-area p {
  font-size: 20px;
}
.content-area h2 {
  font-size: 38px;
  font-weight: bold;
}
a.start {
  text-transform: uppercase;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #fb8122;
}
a.start:hover {
  border-color: #1d2228;
}
@media all and (max-width: 30em) {
  a.start {
    display: block;
    margin: 0.2em auto;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1d2228;
  position: relative;

  width: 100%;
  z-index: 10;
  box-shadow: 0 0 25px 0 black;
}
/* Change the color of links on hover */
.nav a:hover {
  border-bottom: 3px solid #fb8122;
}
/* Add a color to the active/current link */
.nav a:active {
  border-bottom: 3px solid #fb8122;
}
.logo {
  color: rgb(224, 224, 224);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;

  font-weight: bold;
}
.logo a {
  text-decoration: none;
  color: rgb(224, 224, 224);
}
.nav-links {
  display: flex;

  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(224, 224, 224);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(224, 224, 224);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #1d2228;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translatex(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* end burger styling */

/* begin slider styling */
.slider {
  width: 800px;
  margin: 0 auto 20px;
  text-align: center;
  padding-top: 20px;
}

.slider .photos {
  position: relative;
  height: 433px;
}

.slider .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.slider .photos img.shown {
  opacity: 1;
}

.prev:before,
.next:before {
  color: #fff;
  font-size: 100px;
  position: absolute;
  top: 60%;
  cursor: pointer;
}

.prev:before {
  content: "<";
  left: 0;
}

.next:before {
  content: ">";
  right: 0;
}
/* end slider styling */

/* mobile accessibility */
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
  .logo {
    width: 60%;
  }
  .slider {
    width: 70%;
  }
  .contactform {
    padding-top: 50px;
  }
  .prev:before,
  .next:before {
    top: 25%;
  }
}
